@use '../../styles/colours' as *;

.landing-banner {
    height: 200px;
    background-image: url('http://localhost:5000/whistler-village-bc.jpg');
    background-size: cover;
    background-position: center;
    color: $neutral;
    margin-bottom: 16px;
}