@use '../../styles/colours' as *;
@use '../../styles/mixins' as *;

.favourite-deals{
    &__list{
        list-style: none;
        padding: 0;
    }

    &__title {
        margin: 16px;
        font-size: 24px;
    }

    &__link {
        text-decoration: none;
        color: inherit;
        display: flex;
    }

    &__entry {
        display: flex;
        border-bottom: 1px solid $chalkboard;
        align-items: baseline;
        padding: 6px 16px;
    
        &--headings{
            font-weight: 600;
            display: flex;
            border-bottom: 1px solid $chalkboard;
            align-items: baseline;
            padding: 6px 16px;
            background-color: $main-colour;
            color: $light-script;
            border: none;
        }
    
        &:hover{
            background-color: $light-script;
        }
    }

    &__day-column {
        width: 70px;
        min-width: 70px;
    }
    
    &__deal-column {
        flex-grow: 2;
        text-decoration: none;
        color: inherit;
    }

    &__button {
        @include favButton;
        min-width: 70px;
    }

}